.Title {
    font-family: sans-serif;
    font-weight: 500;
    padding: 10px 0px;
}

@media screen and (min-width: 601px) {
    .Title {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    .Title {
        font-size: 14px;
    }
}